<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300|Montserrat:400,600,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <title>Eugene || Lefter</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJKPHQJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div class="container">
        <header >
            <div class="container">
              <div class="row justify-content-between p-1" >
                <div class="col col-md-2 text-left">
                <a href="index.html">  <img class="logo" src="images/logo.png" alt="logo"></a>
                </div>
           
                <div class="col col-md-4  text-right p-1 d-flex align-items-center ex justify-content-end ">
                  <nav>
                      <button type="button" class="btn-lg  m-1"><a href="index.html"> about</a></button>
                      <button type="button" class="btn-lg rounded-pill m-1"> <a href="contact.html" id="contact"> say hi</a> </button>
                  </nav>
                  
                </div>
              
      
              </div>
            </div>
          </header>
    </div>

    <main>
           
        <div class="container-fluid mt-3">
          <div class="">
            <div class="row position-relative">
              <div class="w-100 border position-absolute"></div>
              <div class="col-12 text-center mb-5" id="contact-developer"><img src="images/developer.png" alt=""></div>
            </div>
            <div class="row">
              <div class="col-12 text-center mt-5">
                <h2>Thanks for your interest. Please contact me with any questions</h2>
              </div>
            </div>

  

          </div>
        </div>

        <div class="container mt-4 mb-5">
            <form method="POST" action="send">
                <div class="row justify-content-center">
                  <div class="col-4">
                    <input type="text" class="form-control" name="firstName" placeholder="First name">
                  </div>
                  <div class="col-4">
                    <input type="text" class="form-control" name="lastName" placeholder="Last name">
                  </div>
                </div>
                <div class="row mt-3 justify-content-center">
                    <div class="col-4 mb-4">
                        <input type="text" class="form-control" name="phone" placeholder="Phone Number">
                    </div>
                    <div class="col-4 mb-4">
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                  <div class="col-8 text-center">
                      <textarea class="form-control " id="validationTextarea" placeholder="Message" name="message" required></textarea>
                      <button class="btn  mt-3 contact"  id="submit" type="submit">Submit form</button>
                  </div>
                </div>
              </form>
        </div>

      </main>

  


  

      



      <footer>
        <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-12 text-center mb-4">
                <img class="logo" src="/images/logo.png" alt="logo">
            </div>
         
          </div>
          <div class="row ">
              <div class="col-12 text-center quote">
                <span>Living, learning & leveling up</span>
                <span>one day at a time</span>
                <span>&copy;2019 Eugene Lefter</span>
              </div>
            </div>
            
        </div>
      </footer>
    
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>